@import "tailwindcss";

body.modal-open {
    overflow: hidden;
}

body {
  font-family: 'Poppins', sans-serif; /* Apply Poppins globally */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.bg-radial-green {
  background: radial-gradient(circle at center, #ffffff,#fbfbfb);
}